<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
	<title>Login | Blockvotes</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/css/main.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon.png">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper" style="background:url('/static/img/login-bk.jpg');background-size: 100% auto;">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle">
			<div class="auth-box ">
				<div class="left">
					<div class="content">
						<div class="header">
							<div class="logo text-center"><img src="static/img/logo-dark.png" alt="Logo"></div>
							<p class="lead">Login to your account</p>
						</div>

                        


    <form class="form-auth-small" action="/signin" method="post" id='voting'>
		<div class="form-group">
			<label for="username" class="control-label sr-only">Username</label>
			<input type="input" class="form-control" id="username" name="username" placeholder="User Name">
            		</div>
		<div class="form-group">
			<label for="password" class="control-label sr-only">Password</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password">
		</div>
		<div class="form-group">
			<select type="centre" class="form-control vote-id" id="centre" name="centre"> 
					<option value="Chittagong - 2">Chittagong - 2</option>
					<option value="Chittagong - 9">Chittagong - 9</option>
					<option value="Chittagong - 10">Chittagong - 10</option>
		
			</select>
		</div>
		<button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>

            <input type="hidden" name="csrf_name"
                value="csrf5ca032260eec8">
            <input type="hidden" name="csrf_value"
                value="610249784366eeef1d44b44c81b28caa">
			
	</form>
					</div>
				</div>
				<div class="right">
					<div class="overlay"></div>
					<div class="content text">
						<h1 class="heading">The Next Generation of Voting</h1>
						<p>Based on Blockchain</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- END WRAPPER -->
</body>

</html>

